<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <section id="mi_app">
        <div>
            <input type="text" v-model="texto" @keyup.enter="guardarElemento(texto)">
            
            <button @click="guardarElemento()" >Enviar</button>
        </div>
        <ul>
            <li v-for="elemento in mi_array">{{elemento}}</li>
        </ul>
    </section>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="./script.js"></script>
</body>
</html>


