main #carritoC, main .start #arrow-contact, main .start .cards .card1, main .start .cards, main .start .title, main {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #032432;
  color: #E5E2D7;
}

header {
  z-index: 99;
  width: 100%;
  height: 15vh;
  position: fixed;
  background: #032432;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  margin: 3rem 2.5rem 0 2.5rem;
}
header ul li a i {
  font-size: 2.5rem;
  color: #78bacc;
}

main {
  flex-direction: column;
}
main .start {
  height: 85vh;
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
main .start .title {
  margin-top: 18rem;
  margin-bottom: 2rem;
  flex-direction: column;
}
main .start .title p {
  text-align: center;
}
main .start .title h1, main .start .title p {
  margin: 0.5rem 0;
}
main .start .title h1 {
  font-size: 2.1rem;
}
main .start .cards {
  margin: 1rem;
}
main .start .cards .card1 {
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  width: 18vh;
  height: 25vh;
  border: 2px solid #95d0e0;
}
main .start .cards .card1 i {
  font-size: 2rem;
  color: #55aec6;
  margin-bottom: 0.5rem;
}
main .start .cards .card1 h3 {
  margin-bottom: 0.5rem;
}
main .start .cards .card1 p {
  font-size: 0.9rem;
}
main .start #arrow-contact {
  flex-direction: column;
}
main .start #arrow-contact h1 {
  margin-top: 2.5rem;
  font-size: 2.5rem;
}
main .start #arrow-contact a {
  color: #E5E2D7;
}
main .start #arrow-contact a i {
  margin: 3rem 0;
  font-size: 6rem;
}
main #contact {
  height: 85vh;
  margin-top: 2.7rem;
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
}
main #contact .form {
  display: flex;
  flex-direction: column;
}
main #contact .form textarea {
  resize: none;
  height: 12rem;
  padding: 5px;
}
main #contact .form label {
  font-size: 0.8rem;
}
main #contact .form .inputs {
  height: 2rem;
  padding-left: 5px;
}
main #contact .form input, main #contact .form textarea, main #contact .form .checkbox, main #contact .form button {
  margin-top: 2rem;
  margin-bottom: 0.2rem;
}
main #contact .form button {
  margin: 4rem;
  padding: 1rem;
  color: #E5E2D7;
  background: none;
  border: 1px solid #95d0e0;
  transition: 0.3s;
}
main #contact .form button i {
  margin-right: 0.5rem;
}
main #contact .form :hover {
  color: #032432;
  background: #E5E2D7;
}
main #carritoC {
  height: 100vh;
  flex-direction: column;
  margin-top: 3rem;
}
main #carritoC h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
main #carritoC .tarjeta-carrito {
  border: 1px solid #95d0e0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}
main #carritoC .tarjeta-carrito .fa-bus {
  color: #95d0e0;
  font-size: 2.5rem;
  padding-right: 1rem;
}
main #carritoC .tarjeta-carrito .div1 h3 {
  font-size: 1.3rem;
}
main #carritoC .tarjeta-carrito .div1 .div2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #carritoC .tarjeta-carrito .div1 .div2 #iconbus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
main #carritoC .tarjeta-carrito .div1 .div2 #iconbus i {
  margin: 0 0.5rem;
}
main #carritoC button {
  padding: 1rem;
  color: wheat;
  background: none;
  border: 1px solid #95d0e0;
  transition: 0.3s;
}
main #carritoC button i {
  margin-right: 0.5rem;
}
main #carritoC button:hover {
  color: #032432;
  background: #E5E2D7;
}