<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/css/style.css">
</head>

<body id="fomulario">
    <header>
        <nav>
            <ul>
                <li onclick="enviar()">Formulario</li>
                <li onclick="formulario()">Datos</li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="formulario">
            <div class="input1">
                <input id="nombre" v-model="nombre" type="text">
                <input id="apellido" v-model="apellido" type="text">
            </div>
            <div class="input2">
                <input id="fecha" v-model="fecha" type="date">
                <select v-model="opccion" name="">
                    <option>Hombre</option>
                    <option>Mujer</option>
                </select>
            </div>

            <textarea v-model="mensaje"></textarea>

            <button onclick="nullcheck()">Enviar</button>
        </div>

        <div id="resultado">
            <h1>Nombre: {{nombre || 'No has puesto el nombre' }}</h1>
            <h1>Apellido: {{apellido || 'No has puesto el Apellido'}}</h1>
            <h1>Fecha: {{fecha || 'No has puesto el Fecha'}}</h1>
            <h1>Opccion: {{opccion || 'No has puesto el Opccion'}}</h1>
            <h1>Mensaje: {{mensaje || 'No has puesto el Mensaje'}}</h1>
        </div>
            
    </main>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="./script.js"></script>
</body>

</html>